@media (prefers-color-scheme: dark) {
  html {
    background: black;
  }
  html > * {
    filter: invert(1);
  }
  html .T7dzVe, html .VrDepf, html .B7PAmc, html .QPiGnd {
    filter: invert(1);
  }
}