@media (prefers-color-scheme: dark) {
  img {
    opacity: 0.7;
  }
  body {
    background: #000 !important;
    color: #ddd !important;
  }
  #header {
    background: #000 !important;
  }
  #menu {
    background: #fff;
    opacity: 0.4;
  }

  .profile-container,
  .profile-right,
  #DamHistory,
  .switch_tabs {
    background: #000 !important;
  }

  .input-wrap input {
    background: #000 !important;
    color: #ddd !important;
  }

  .anchor-item a,
  .profile-left a,
  .profile-friend-song a {
    background: #000 !important;
    color: #ddd !important;
  }

  .ai {
    background: #000 !important;
    color: #ddd !important;
    border: 1px solid gray !important;
  }

  .box_tab.clearfix {
    background: #000 !important;
  }
  .box_tab.clearfix > div:first-child img {
    filter: invert(1);
  }

  .history.current,
  .switch_tabs {
    background: #000 !important;
  }
}
